#navi {
	height: 769px;
	width: 200px;
	left: 31px;
	top: 165px;
	position: absolute;
	visibility: visible;
}
#kopfzeile {
	height: 210px;
	width: 1000px;
	left: 2px;
	top: 4px;
	position: absolute;
	visibility: visible;
	background-image: url('Bilder/planet-color-logo.html');
	background-repeat: no-repeat;
	background-color: #FFFFFF
}

#ueberschrift {
	height: 73px;
	width: 500px;
	left: 500px;
	top: 175px;
	position: absolute;
}

#news {
	height: 76px;
	width: 741px;
	left: 255px;
	top: 396px;
	position: absolute;
}

#adresse {
	height: 100px;
	width: 357px;
	left: 639px;
	top: 993px;
	position: absolute;
}

#ueber_mich {
	height: 163px;
	width: 341px;
	left: 256px;
	top: 199px;
	position: absolute;
}
#content {
	height: 617px;
	width: 750px;
	left: 254px;
	top: 230px;
	position: absolute;
}
#main {
	height: 481px;
	width: 750px;
	left: 250px;
	top: 400px;
	position: absolute;
}